.open-button {
    background-color:gold;
    margin: 0px 0px 10px 0px;
    padding: 8px 15px;
    cursor: pointer;
}

.modal-button-wrapper {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.search-field {
  display: flex;
}

.search-input {
  width: 350px;
  height: 37px;
  border: 1px solid #b6afaf;
}

.search-button {
  background-color: #0d93d985;
  padding: 10px;
  height: fit-content;
}

.add-form {
    width: 100%;
}

.add-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
  }
  
  .save-button, .cancel-button {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
  }
  
  .save-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336; /* Red */
    color: white;
  }
  