.form-container {
    width: 78vw;
    height: 70vh;
    background-color: rgb(12, 20, 22);
    padding: 4rem;
    color: rgba(243, 244, 246, 1);
    position: absolute;
    left: 7.8vw;
    top: 9vh;
    box-shadow: 19px 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}
.navigation{
    color: aliceblue;
    display: flex;
    margin-right: 1vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation div {
    margin-left:3vw !important;
}
.name-logo {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vh;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}
.last-name {
    color: rgb(123, 182, 174);
}

.line1{
    font-size: 5vh;
}

.line2{
    font-size: 3vh;
    color: aquamarine;
    margin-top: 1vh;
}
.line3{
    font-size: 2vh;
    color: rgb(200, 212, 209);
    margin-top: 1vh;
}

.navigation div {
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
    padding: 5px 10px; /* Adjust padding as needed */
    text-decoration: none; /* Ensure no underline by default */
    color: inherit; /* Ensure it inherits the color from parent if specified */
    cursor: pointer; /* Change cursor to pointer to indicate it's interactive */
    font-size: 22px;
}

.navigation div:hover {
    color: #070707; 
    background-color: aquamarine; 
    border-radius: 100px; 
}
.text-content{
    width: 80vh;
    margin-top: 18vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3vh;
}
.body-content{
    display: flex;
}
.image-content {
    padding: 12vh !important
}
.image-content img {
    width: 100%; 
    height: 100%; 
    border-radius: 100%; 
    border: 3px solid aquamarine
}
.checkout-button {
    height:6vh !important;
    margin-top: 5vh !important;
    border-radius: 35px;
    padding: 1.5vh;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}




